.share-inbox-popover {
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 0;
  overflow: hidden;
  bottom: 0 !important;

  .p-popover-content {
    height: 100%;
    padding: 0;
  }

  @media (min-width: $lg) {
    height: 100vh;
    max-width: 450px;
    margin-left: 3px;
  }
}

.share-inbox-toggle {
  position: relative;
  right: 263px;

  &.right {
    right: 335px;
  }
}
