.share-dialog {
  h3 {
    margin: 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-subtitle {
    margin-bottom: 0.5rem;
  }

  &-friends {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
  }

  &-friend {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
    }

    &-email {
      font-size: 0.75rem;
      font-weight: 300;
    }
  }

  &-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
}

