.share-request-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
  border: 1px solid $p-card-border;
  border-radius: 0.5em;

  .share-request-info {
    display: flex;
    gap: 0.75em;
    align-items: center;
    flex: 1;

    .share-request-details {
      display: flex;
      flex-direction: column;
      gap: 0.25em;

      p {
        margin: 0;
      }

      .share-request-meta {
        font-size: 0.875em;
        opacity: 0.7;
      }
    }
  }

  .share-request-actions {
    display: flex;
    gap: 0.5em;

    .p-button {
      padding: 0.5em !important;
      font-size: 1em;
    }
  }
}
